body{
  background-color:whitesmoke ;
}
.name{
   
    font-family: cursive;
    color: rgb(206, 219, 28);
    padding-top: 200px;
  }
  
 
  img{
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
  .cless{
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  .minion{
    padding-top: 30px;
  }
  @media screen and (max-width: 600px) {
    .cless{
        display: flex;
        flex-direction: column;
    }
  }