.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(222, 215, 222);
  overflow: hidden;
  font-family: cursive;
 
}

.navbar a {
  float: left;
  display: flex;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #f7f2f2;
  color: black;
}

.navbar .icon {
  display: none;
}

.navb a:hover{
  background-color:  #f7f2f2;
  color:black;
}

@media screen and (min-width: 600px) {
  .btn {
      display: none;
  }
}

.btn{
  float: right;
  width: 60px;
  height: 40px;
  background: rgb(205, 226, 238);
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .navbar a{
      display: none;
  }
}
.navb a{
  
  display: flex;
  flex-direction: column;
  text-align: right   ;
  color: rgb(255, 255, 255);
  background: rgb(227, 207, 228);
  padding: 14px;
  text-decoration: none;
  font-family: cursive;
 
  
  
}
.navb{
  width: 100%;
}
.closebtn{
  background: rgb(193, 226, 244);
  width: 100%;
  
}