.project1{
    font-family: cursive;
    width: 400px;
    height: 400px;
    background-color:white;
    border-color: rgb(35, 12, 12);
    border-radius: 20px;
    margin-left: 400px;
    border-radius: 38px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  13px 13px 26px #747474,
                 -13px -13px 26px #ffffff;
    
}
.prjct{
    font-family: cursive;
    text-align: center;
}
.project2{
    font-family: cursive;
    width: 400px;
    height: 400px;
    background-color:white;
    border-color: rgb(35, 12, 12);
    border-radius: 20px;
    margin-left: 800px;
    border-radius: 38px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  13px 13px 26px #747474,
                 -13px -13px 26px #ffffff;
    
}
.prjctmain{
    display: flex;
    flex-direction: column;
    

}
.reactprjct{
    height: 350px;
    width: 400px;
    border-radius: 40px;
}
@media (max-width:600px){
    .project1{
        margin-top: 150px;
       margin-left: 20px;
       
    }
}
@media (max-width:600px){
    .project2{
        margin-top: 150px;
       margin-left: 20px;
    }
}
@media (max-width:600px){
    .reactprjct{
        height: 250px;
        width: 300px;
    }
}

  