.skills {
  text-align: center;
    font-family: cursive;
}
.lang {
  font-family: Cursive;
  background-color: #d4bebe;
  border-radius: 20px;
  width: 430px;
  height: 350px;
  text-align: center;
  border-radius: 38px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  13px 13px 26px #747474,
               -13px -13px 26px #ffffff;
}
.backend {
  font-family: Cursive;
  background-color: #d4bebe;
  border-radius: 20px;
  width: 430px;
  height: 350px;
  text-align: center;
  border-radius: 38px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  13px 13px 26px #747474,
               -13px -13px 26px #ffffff;
  
}
.frontend {
  font-family: Cursive;
  background-color: #d4bebe;
  border-radius: 20px;
  width: 430px;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 20px;
  
  text-align: center;
  border-radius: 38px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  13px 13px 26px #747474,
               -13px -13px 26px #ffffff;
 
}
.database {
  font-family: Cursive;
  background-color: #d4bebe;
  border-radius: 20px;
  margin-bottom: 20px;
 
  text-align: center;
 width: 430px;
 height: 350px;
 margin-top: 40px;
 background: linear-gradient(145deg, #f0f0f0, #cacaca);
 box-shadow:  13px 13px 26px #747474,
              -13px -13px 26px #ffffff;

 
}

.first {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.second{
  display: flex;
  justify-content: center;
  gap: 80px;

}
